.container {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: antiquewhite;
}

.structure {
  position: absolute;
  width: 100px;
  height: 250px;
  background-color: greenyellow;
  bottom: none;
}

.fpsCount {
  position: absolute;
  right: 0;
  z-index: 100;
  color: black;
}

.bird {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 100px;
  background-image: url("../../img/bird.png");
  background-position: center;
  background-size: cover;
}
